.logo {

    display: flex;

    flex-direction: column;

    align-items: center;

    // margin-bottom: 2rem;

}

.logo img {

    display: block;

    margin-bottom: .75rem;

    transition:.4s;

}

.logo img:hover{

    transform:rotate(-5deg) scale(1.05);

}

.logo h2 {

    margin: 0;

    color: var(--color-primary);

    font-size: 1.8rem;

    font-weight: 700;

}

.logo p {

    margin-top: .5rem;

    color: #777;

    font-size: .95rem;

}
