<div class="public-layout">

    <section class="hero">

        <!-- <app-logo
            [width]="120">
        </app-logo> -->

        <h1>
            منصة محسنون
        </h1>

        <p>
            منصة متكاملة لإدارة العمل الخيري، المساجد، المتطوعين،
            التبرعات، والمشاريع المجتمعية.
        </p>

        <!-- <ul>

            <li>إدارة المساجد</li>

            <li>إدارة التبرعات</li>

            <li>إدارة المتطوعين</li>

            <li>إدارة المشاريع</li>

        </ul> -->

        <div class="features">

          <div class="feature">

              🕌

              <div>

                  <h4>إدارة المساجد</h4>

                  <p>إدارة جميع المساجد بسهولة.</p>

              </div>

          </div>

          <div class="feature">

              ❤️

              <div>

                  <h4>التبرعات</h4>

                  <p>متابعة التبرعات لحظة بلحظة.</p>

              </div>

          </div>

          <div class="feature">

              👥

              <div>

                  <h4>المتطوعون</h4>

                  <p>تنظيم فرق العمل التطوعي.</p>

              </div>

          </div>

          <div class="feature">

              🎯

              <div>

                  <h4>المشاريع</h4>

                  <p>إدارة المبادرات الخيرية.</p>

              </div>

          </div>

      </div>
      <footer class="public-footer">

        © {{ currentYear }} محسنون - جميع الحقوق محفوظة

      </footer>

    </section>

    <section class="content">

        <router-outlet></router-outlet>

    </section>

</div>


